body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #575757;
}

/* Stile per il form e il bottone di logout */
#logout-form {
    display: inline;
}

#logout-form button {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: unset;
    font-family: Arial, sans-serif;
}

#logout-form button:hover {
    background-color: #575757;
}